#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}
#main-toolbar #settings-button {
  background-image: url(../settings.svg);
}
#main-toolbar #network-button {
  background-image: url(../zoom-home.svg);
}
#main-toolbar #skill-button {
  background-image: url(../tool-copy.svg);
}
#canvas{
  overflow: hidden;
  /* position: relative; */
  background-color: black;
}
#tag{
  position: absolute;
  width: 18vw;
  height: 5vh;
  top: 0vh;
  left: 41vw;
  background-color: rgba(229, 8, 33, 1);
  background-image: url(../transparent.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  display: grid;
}
.tagborder{
  width: 17vw;
  height: 4.2vh;
  margin: auto;
  margin-top: 0vh;
  align-self: center;
  border-style: dashed;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-width: 2px;
  border-top-width: 0px;
  border-color: white;
}
#content{
  width: 100vw;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#menu{
  background-image: url(../menu.png);
  width: 3vw;
  height: 5vh;
  position: absolute;
  top: 1.2vh;
  right: 1vw;
  background-size: cover;
}
#navbarS{
  width: 100vw;
  height: 18vh;
  position: absolute;
  top: 0vh;
  left: 0vw;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* display: none; */
}
.skill{
  border-right-width: 1px;
  border-color: black;
  border-style: solid;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-width: 0px;
  width: 20vw;
  height: 85%;
  align-self: center;
}
.iconimage{
  width: 20vw;
  height: 100%;
  margin-top: -8%;
  background-image: url(../music.png);
  background-size: 6.2vw auto;
  background-position: center;
  background-repeat: no-repeat;
}
#si1{
  background-image: url(../music.png);
}
#si2{
  background-image: url(../camera.png);
}
#si3{
  background-image: url(../language.png);
}
#si4{
  background-image: url(../dance.png);
}
#si5{
  background-image: url(../add.png);
  margin-top: 0px;
}
.vstatus{
  width: 100%;
  margin: auto;
  height: 60%;
  margin-top: 4%;
  background-image: url(../thumbsup.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.status{
  width: 100%;
  margin: auto;
  height: 60%;
  margin-top: 4%;
}
.astatus{
  width: 65%;
  margin: auto;
  height: 65%;
  margin-top: 15%;
  align-self: center;
  background-image: url(../add.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.micons{
  width: 80%;
  height: 30%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr ;
}
.multi{
  width:60%;
  height: 70%;
  align-self: center;
  margin-left: 40%;
  background-image: url(../mthumbnail.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 47px auto;
}
/* #m2{
    background-image: url(../cthumbnail.png);
} */
#m3{
    background-image: url(../view.png);
    background-position: left;
    margin-left: 0px;
}
p{
  /* font-style: italic; */
  font-family: monospace;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0px;
}
.category{
  width: 33.33vw;
  height: 45vh;
  display: grid;
  align-content: center;
}
#c1{
  background-color: rgba(0,164,220,0.9);
  background-image: url(../transparent.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#c2{
  background-color: rgba(239, 226, 42,0.9);
  background-image: url(../transparent.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#c3{
  background-color: rgba(229, 8, 33, 0.9);
  background-image: url(../transparent.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#c4{
  background-color: rgba(232, 85, 32, 0.9);
  background-image: url(../transparent.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#c5{
  background-color: rgba(49, 172, 67,0.9);
  background-image: url(../transparent.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#c6{
  background-color: rgba(69, 70, 147, 0.9);
  background-image: url(../transparent.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.border{
  width: 31.83vw;
  height: 42vh;
  margin: auto;
  /* margin-left: 0.7vw; */
  /* margin-right: 1%; */
  align-self: center;
  border-style: dashed;
  border-width: 2px;
  border-color: rgba(255,255,255,0.5);
  border-radius: 8px;
}
.inbox{
  height: 55%;
  width: 50%;
  margin:auto;
  margin-top: 6vh;
  box-shadow: black 0px 0px 10px 0.5px;
  border-radius:15px;
  display: grid;
}
#ci1{
  background-color: rgba(0, 197, 241,0.8);
  background-image: url(../transparent.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#ci2{
  background-color: rgba(241, 228, 25,0.8);
  background-image: url(../transparent.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#ci3{
  background-color: rgba(227, 43, 28,0.8);
  background-image: url(../transparent.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#ci4{
  background-color: rgba(230, 85, 33,0.8);
  background-image: url(../transparent.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#ci5{
  background-color: rgba(50, 172, 87,0.8);
  background-image: url(../transparent.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#ci6{
  background-color: rgba(69, 70, 146,0.8);
  background-image: url(../transparent.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.inborder{
  margin: auto;
  align-self: center;
  height:94%;
  width: 94%;
  border-style: dashed;
  border-radius: 10px;
  border-width: 2px;
  border-color: rgba(255,255,255,0.95);
}
